body {
  background-color: #232323;
  margin: 0;
  font-family: "Monserrat", "Avenir";
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  background-color: steelblue;
  margin: 0;
  padding: 1rem 0;
  line-height: 1.1;
}

#colourDisplay {
  font-size: 3rem;
  display: block;
  padding: .5rem 0;
}

.container {
  width: 600px;
  margin: 1rem auto;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 1.5rem;
  transition: background 1s;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
}

#stripe {
  background-color: white;
  text-align: center;
  color: black;
}

button {
  border: none;
  outline: none;
  background: none;
  height: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
}

button:hover {
  background-color: #232323;
  color: white;
}

#message {
  display: inline-block;
  width: 20%;
  text-transform: uppercase;
  font-weight: 700;
}

.selected {
  background-color: #232323;
  color: white;
}
